<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/estilos.css" />
<title>Consejos de Salud</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>
				Mundo Maskota`s ToCoBi <img class="stare" alt="CAT MIRANDO"
					src="../static/images/header.jpg" title="gato stare">
			</h1>
		</header>
		<nav class="menuPrincipal">
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a class="active" href="consejosDeSalud.html">Consejos de salud</a></li>
				<li><a href="servicioDePaseos.html">Servicio de paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contactanos.html">Contáctanos</a></li>
			</ul>
		</nav>
		<section class="contenidoSalud">
			<h2> La Salud de tu Mascota </h2>
			<article>
				<h3> • 8 consejos para tener una mascota saludable </h3>
				<div class="contenidoconsejo">
					<div class="imagen2">
						<img src="../static/images/mascota0.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>1.- Visita regularmente al veterinario.</h3>
						<p>
						Todos debemos de hacernos un chequeo médico al menos una vez al año para saber cómo estamos de salud. Lo mismo aplica para perros, gatos, roedores, reptiles, aves e incluso peces, ya que es recomendable hacerlos un chequeo veterinario general una vez al año.
						</p>
						<p>
						El veterinario nos orientará y diseñará un plan de prevención de las innumerables enfermedades que atacan a los animales de compañía, enseñándonos a cuidar de la mejor manera posible a nuestro compañero.
						</p>
						<p>
						En la primera visita de nuestro perro o gato al veterinario, éste se encargará de revisar su estado de salud y descartar cualquier patología, además de establecer el plan vacunal y de escoger las vacunas más adecuadas para cada animal según el riesgo de exposición a ciertas enfermedades y la zona de residencia.
						</p> 
						<p>
						Por este motivo no existe un calendario de vacunación único.
						</p>
					</div>	
				</div>
				
				<div class="contenidoconsejo">
					<div class="imagen">
						<img src="../static/images/mascota1.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>2.- Desparasita con frecuencia a tu mascota.</h3>
						<p>
						La desparasitación de las mascotas debe llevarse a cabo antes de iniciar el suministro de las vacuna, porque además de eliminar los parásitos, el antiparasitario estimula las defensas y ayuda a que la vacuna produzca un mejor efecto inmune en los animales.
						</p>
					</div>	
				</div>
				
				<div class="contenidoconsejo">
					<div class="imagen2">
						<img src="../static/images/mascota2.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>3.- Proporciónale una alimentación sana.</h3>
						<p>
						Utiliza alimentos saludables, que cubran todas las necesidades nutricionales de tu mascota, aportando todos los elementos necesarios para un correcto crecimiento y desarrollo de la mascota, desde sus primeros años de vida hasta su etapa adulta.
						</p>
						<p>
						Ten en cuenta que las necesidades de tu mascota van cambiando a lo largo de su vida, por lo que proporciona lo que el animal necesite dependiendo de su estado fisiológico. Además es aconsejable repartir las comidas para evitar sobrecargar al animal y que tenga así mejores digestiones.
						</p>
						<p>
						 Ten siempre a su disposición agua fresca y limpia, para que pueda hidratarse con regularidad.
						</p>
					</div>	
				</div>
				
				<div class="contenidoconsejo">
					<div class="imagen">
						<img src="../static/images/mascota3.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>4.- No descuides su limpieza.</h3>
						<p>
						Para huir de los parásitos externos (pulgas, garrapatas, piojos…) y de las enfermedades de la piel, el primer paso está en la prevención mediante un aseo periódico de tu mascota, de esta manera podremos detectar y tomar las medidas necesarias.
						</p>
					</div>	
				</div>
				
				<div class="contenidoconsejo">
					<div class="imagen2">
						<img src="../static/images/mascota4.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>5.- Limpia sus dientes con frecuencia.</h3>
						<p>
						La higiene bucal es una práctica necesaria para evitar problemas en la boca, dientes y encías. Unos dientes y una boca sanos previenen de enfermedades, además de ser necesarios para una perfecta masticación interviniendo directamente en la correcta nutrición de la mascota.
						</p>
						<p>
						Por lo tanto cuida la boca de tu mascota, cepilla sus dientes o proporciona alimentos específicos para la limpieza bucal, previniendo de esta manera la aparición de caries, sarro, placa dental y mal aliento. No olvides visitar a tu veterinario para que valore el estado dental de tu mascota.
						</p>
					</div>	
				</div>
				
				<div class="contenidoconsejo">
					<div class="imagen">
						<img src="../static/images/mascota5.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>6.- Haz que realice ejercicio con frecuencia.</h3>
						<p>
						Realizar dos paseos al día, salir a correr o jugar con tu mascota son ejercicios que no podemos olvidar para mantener el correcto estado de salud de tu mascota, y que esta pueda tener una vida plena, sana y feliz.
						</p>
						<p>
						De esta forma mejorarás el correcto funcionamiento intestinal y cardiovascular, y además prevendrás la obesidad de tu mascota.
						</p>
					</div>	
				</div>
				
				<div class="contenidoconsejo">
					<div class="imagen2">
						<img src="../static/images/mascota6.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>7.- Evita los cambios bruscos de temperaturas.</h3>
						<p>
						Evita las altas temperaturas en verano, dale agua fresca y limpia frecuentemente, evita los ejercicios intensos durante las hora de más calor, no olvides a tu mascota dentro del coche y evita las situaciones de estrés. Recuerda que con el calor los animales puede que no tengan tanto apetito.
						</p>
						<p>
						En invierno, al haber bajas temperaturas los animales necesitan ingerir más cantidad de energía por lo que puede aumentar su apetito, así que reparte las comidas para evitar sobrecargar su sistema digestivo.
						</p>
						<p>
						Cuidado con los cachorros y animales senior, ya que sus defensas no son las mismas que un animal adulto, por lo que evita largos periodos de tiempo al aire libre o abrígalos con prendas adecuadas, ten en cuenta los mismos consejos para mascota con pelo corto o sin capa protectora.
						</p>
					</div>	
				</div>
				
				<div class="contenidoconsejo">
					<div class="imagen">
						<img src="../static/images/mascota7.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3>8.- Demuéstrale que le quieres.</h3>
						<p>
						A las mascotas les gustan las caricias, así que procura hacerlas con frecuencia. Recuerda que el cariño ayuda a tu mascota a liberar estrés, relajarse y a sentirse querida. Además, está comprobado que las personas que acarician a sus mascotas también se sienten mejor.
						</p>
					</div>	
				</div>
			</article>
		</section>
		<footer>
			<p>Copyright 2023 - Nombre del sitio - Diseñado por Grupo 38 –
				Jujuy – República Argentina</p>
		</footer>
	</div>
</body>
</html>