<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/estilos.css}" />
<title>Consejos de Salud</title>
</head>
<body>
	<div class="container">
		<header th:replace="~{/layouts/header :: header}"></header>
		<nav th:replace="~{/layouts/nav :: nav}"></nav>
		
		<section class="contenidoSalud">
			<h2> La Salud de tu Mascota </h2>
			<article>
				<h3> • 8 consejos para tener una mascota saludable 
				<a th:href="@{/consejo/nuevoconsejo}" class="botonAcc button botonIzquierdo">Agregar Consejo</a>
				</h3>
				<div class="contenidoconsejo" th:each="consejito : ${consejo}">
					<div class="imagen">
						<img  th:src="${consejito.imagen}"   src="../static/images/mascota7.jpg" class="fotela1consejo" alt="juguete 1" >
					</div>
					<div class="info">
						<h3 th:text="${consejito.titulo}"></h3>
						<p th:text="${consejito.parrafo}">
							
						<div class="botones-accion">
							<a  class="botonAcc botonRojo" th:href="@{/consejo/modificarconsejo/}+${consejito.titulo}">Editar</a>
							<a  class="botonAcc botonRojo" th:href="@{/consejo/eliminarconsejo/}+${consejito.titulo}">Borrar</a>
						</div>
						</p>		
					</div>	
				</div>
			</article>
		</section>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
</body>
</html>