<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/estilos.css" />
<title>Inicio</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>
				Mundo Maskota`s ToCoBi <img alt="CAT MIRANDO"
					src="../static/images/header.jpg" title="gato stare"
					style="width: 80px; height: 80px; vertical-align: bottom">
			</h1>
		</header>
		<nav class="menuPrincipal">
			<ul>
				<li><a class="active" href="index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="consejosDeSalud.html">Consejos de salud</a></li>
				<li><a href="servicioDePaseos.html">Servicio de paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contactanos.html">Contáctanos</a></li>
			</ul>
		</nav>
		<section>
			<h2 style="text-align: center">
				" Tan único como el amor que él siente por vos "<br> <br>Misión
				y visión
			</h2>
			<br>
			<article style="text-align: justify;">
				<h2>MISIÓN</h2>
				<p>Contribuimos a crear un mundo mejor, ayudando a amar y
					proteger a sus mascotas. Basados en nuestro equipo de trabajo somos
					solidarios socialmente, brindando la mayor cantidad de trabajo
					posible, innovando constantemente y logrando un prestigio que nos
					haga perdurar en el tiempo. Invirtiendo e innovando en proyectos
					para ampliar la estructura y seguir creciendo en otras ciudades.
					Aportando y participando solidariamente para crear una comunidad
					inclusiva y el cuidado del medio ambiente.</p>
			</article>
			<article style="text-align: justify;">
				<h2>VISIÓN</h2>
				<p>Ser una empresa moderna y sólida, líder en el país y con
					proyección internacional. Liderada por un equipo con acceso a la
					más alta calidad de capacitación y con una mirada colaborativa e
					inclusiva.</p>
			</article>
			<h2 style="text-align: center">Nuestros Valores</h2>
			<article style="text-align: justify;">
				<h2>SERVICIO</h2>
				<p>Como valor supremo, la calidad del servicio al cliente es lo
					que nos distingue de la competencia y constituye un factor del
					éxito de nuestro negocio. La calidad de servicio se mide en todos
					los procesos de interacción con el cliente.</p>
			</article>
			<article style="text-align: justify;">
				<h2>CUMPLIMIENTO</h2>
				<p>Es la realización de nuestro trabajo acorde con las
					características de calidad, cantidad y oportunidad negociadas y
					anunciadas. En nuestra actividad, este valor se refleja de manera
					especial en el servicio al cliente.</p>
			</article>
			<article style="text-align: justify;">
				<h2>AGILIDAD</h2>
				<p>Es la flexibilidad con la que desarrollamos nuestro negocio y
					nos adaptamos constantemente a las necesidades y deseos de nuestros
					clientes.</p>
			</article>
			<article style="text-align: justify;">
				<h2>CALIDEZ</h2>
				<p>Refleja el amor, la vocación y el respeto a los demás. Es el
					afecto, la cordialidad y la amabilidad en el trato con nuestros
					compañeros, clientes, socios comerciales y demás interlocutores. Es
					el sello de la atención que nos gusta recibir y brindar al otro.</p>
			</article>
			<article style="text-align: justify;">
				<h2>COMPROMISO</h2>
				<p>Surge de la convicción personal en torno a los beneficios que
					trae el desempeño responsable de las tareas a cargo. El Compromiso
					permite pasar de las promesas a los hechos, generando resultados y
					beneficios tangibles.</p>
			</article>
			<article style="text-align: justify;">
				<h2>INNOVACIÓN</h2>
				<p>Es la aplicación eficiente de la creatividad. Se refleja en
					la redefinición y/o reinvención de los productos, las estrategias,
					las actividades y las funciones con miras a su mejoramiento. La
					Innovación permite encontrar mayores beneficios de lo que ya
					existe.</p>
			</article>
		</section>
		<aside>
			<div style="float: right;">
				<img alt="aside" src="../static/images/aside-AS.png" title="aside">
			</div>
		</aside>
		<footer>
			<p>Copyright 2023 - Nombre del sitio - Diseñado por Grupo 38 –
				Jujuy – República Argentina</p>
		</footer>
	</div>
</body>
</html>