<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Bootstrap CSS and other CSS -->
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/css/mis-estilos.css}"/>
<!--  <link rel="stylesheet" th:href="@{/css/estilos.css}" />  -->

<!-- Title of Sites -->
<title>Nuevo Producto</title>


</head>
<body>
	<div class="container">
		<header th:replace="~{/layouts/header :: header}"></header>
		<nav th:replace="~{/layouts/nav :: nav}"></nav>
		<div class="row ">
			<div class="col-md-8 col-sm-12 text-justify p-2">
				<section class="contenido">
					<a th:href="@{/producto/listarProducto}" class="buttonAdd botonRojo mx-3">Regresar</a>
					<h2 class="subtitulo  text-center" th:text="${edicion}?'Modificar Producto':'Nuevo Producto'"></h2>
					
					<fieldset class="formulario  border border-2 border-danger p-2 my-1 mx-3 formularioConsejo">
						<legend class="text-center">
							<strong>Ingrese Datos del Producto</strong>
						</legend>
						<form th:action="${edicion}?@{/producto/editarProducto}:@{/producto/guardarProducto}" th:object="${producto}"  method="post" class="formularioConsejo">
							<div class="form-row">
								<div class="form-group ">
								    <label for="nombreProducto">Nombre del Producto:</label>
									<input type="text" id="nombreProducto" name="nombreProducto" th:field="${producto.nombreProducto}" class="form-control"  placeholder="Ingrese Nombre del Producto" required>
								</div>
								<div class="form-group form-group">
									<label class="form-label" for="precioProducto">Precio</label>
   				 					<input step="0.01" value="00.00" type="number" id="precioProducto" name="precioProducto"  th:field="*{precioProducto}" class="form-control" />
								</div>
								<div class="form-group">
							    	<label for="categoriaProducto">Seleccione una Categoria:</label>
							      	<select id="categoriaProducto" name="categoriaProducto" class="form-control" th:field="*{categoriaProducto}" >
							        	<option value="" selected>seleccionar categoria</option>
							        	<option value="Juguete" selected>Juguete</option>
							        	<option value="Alimento">Alimento</option>
							        	<option value="Vestimenta">Vestimenta</option>
							        	<option value="Cuidado">Cuidado</option>
							      	</select>
							    </div>
								<div class="form-group ">
									<label for="imagenProducto">link o Url de la Imagen:</label>
									<input type="text" id="imagenProducto" name="imagenProducto" class="form-control" th:field="*{imagenProducto}"  placeholder="Ingrese la Direccion de la imagen" required>
								</div>
								<div class="form-outline form-group" >
									<label class="form-label" for="descuentoProducto">Ingrese un Descuento</label>
								    <input min="0" max="50" type="number" id="descuentoProducto" name="descuentoProducto" class="form-control" th:field="*{descuentoProducto}"  placeholder="Ingrese Descuento entre 0 y 50" required/>
								</div>
								<input class="btn btn-success text-center mb-3 mt-3  col-lg-12 col-md-12 col-sm-12 col-xs-12" type="submit" th:value="${edicion}?'Modificar Producto':'Guardar Producto'">
							</div>
						</form>
						
					</fieldset>
					 
				</section>
			</div>
			<div class="col-md-4 col-sm-12  text-center  d-none d-md-block">
				<aside>
					<div>
						<img alt="aside" th:src="@{/images/aside-AS.png}" title="aside" class="img-fluid">
					</div>
				</aside>
			</div>	
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>