<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/mis-estilos.css}" />
<title th:text="${edicion}? 'Modificar datos del Paseador':'Nuevo Paseador'"></title>
</head>
<body>
	<div class="container">
		<header th:replace="~{/layouts/header :: header}"></header>
		<nav th:replace="~{/layouts/nav :: nav}"></nav>
		<div class="row">
		<div class="col-md-6 col-sm-12">
			<section class="contenido">
					<a th:href="@{/servicio/listadoPaseador}" class="buttonAdd botonRojo">Regresar</a>
					<h3 th:text="${edicion}? 'Modificar datos del Paseador':'Nuevo Paseador'" class="text-center"></h3>
				<fieldset class="formulario border border-2 border-danger m-3 p-3">
				<legend>
					<strong>Ingrese Datos</strong>
				</legend>
				<form th:action="${edicion}?@{/servicio/modificarPaseador}:@{/servicio/guardarServicio}"
				 th:object="${servicio}"  method="post" novalidate>
				 <div class="mb-3">
				 	<label for="id" class="d-block">ID:</label>
					<input type="text" id="id" name="paseador_id" th:field="*{id}" 
					placeholder="ASIGNACION AUTOMATICA" required readonly class="w-100">
				 </div>
				 <div class="mb-3">
				 	<label for="dni" class="d-block">DNI:</label>
					<input type="text" id="dni" name="paseador_dni" th:field="*{dni}" 
					placeholder="Ingrese DNI del Paseador" required class="w-100">
					<div class="text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
				 </div>
				 <div class="mb-3">
				 	<label for="nombre" class="d-block">Nombre:</label>
					<input type="text" id="nombre" name="paseador_nombre" th:field="*{nombre}" 
					placeholder="Ingrese nombre del Paseador" required class="w-100">
					<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				 </div>
				 <div class="mb-3">
				 	<label for="edad" class="d-block">Edad:</label>
					<input type="text" id="edad" name="paseador_edad" th:field="*{edad}" 
					placeholder="Ingrese Edad" required class="w-100">
					<div class="text-danger" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>
				 </div>
				 <div class="mb-3">
				 	<label for="domicilio" class="d-block">Domicilio:</label>
					<input type="text" id="domicilio" name="paseador_direccion" th:field="*{domicilio}" 
					placeholder="Ingrese Domicilio" required class="w-100">
					<div class="text-danger" th:if="${#fields.hasErrors('domicilio')}" th:errors="*{domicilio}"></div>
				 </div>
				 <div class="mb-3">
					 <label for="telefono" class="d-block">Telefono:</label>
					<input type="text" id="telefono" name="paseador_telefono" th:field="*{telefono}" 
					placeholder="Ingrese N° de Telefono" required class="w-100">
					<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
				 </div>
				 <div class="mb-3">
				 	 <label for="telefono" class="d-block">Honorarios:</label>
					<input type="text" id="honorarios" name="paseador_honorarios" th:field="*{honorarios}" 
					placeholder="Ingrese Honorarios ($)" required class="w-100">
					<div class="text-danger" th:if="${#fields.hasErrors('honorarios')}" th:errors="*{honorarios}"></div>
				 </div>
				 <div>
					 <input type="submit" th:value="${edicion}?'Modificar':'Guardar' " class="btn botonRojo w-100">
				 </div>			
				</form>
			</fieldset>
		</section>
		</div>
		<div class="col-md-6 col-sm-12 text-center">
		<aside>
			<div>
				<img alt="aside" th:src="@{/images/aside-AS.png}" title="Aside" class="img-fluid">
			</div>
		</aside>
		</div>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>