<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Bootstrap CSS and other CSS -->
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/css/mis-estilos.css}"/>
<!--  <link rel="stylesheet" th:href="@{/css/estilos.css}" />  -->

<!-- Title of Sites -->
<title>Productos</title>
</head>
<body>
	<div class="container">
		<header th:replace="~{/layouts/header :: header}"></header>
		<nav th:replace="~{/layouts/nav :: nav}"></nav>
		
		<div class="row">
			<div class="col-md-9 col-lg-8 col-sm-12 col-xs-12 ">
				<section class="">
					<h2 class="text-justify"> Juguetes y Alimentos para Mascotas </h2>
					<article>
						<div  class="row">
							<p class="col  col-sm-12 col-xs-12 col-lg-9 col-md-9">• La siguiente lista son los productos para mascotas que se han puerto a ventas por el sitio web:</p>
							<a th:href="@{/producto/nuevoproducto}"  role="button" class="btn btn-success btn-lg botonAgregar ">Agregar Producto</a>
							
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-2" th:each="produ : ${producto}"> 
								<div class="card h-100 shadow-sm" > 
									<img  th:src="${produ.imagenProducto}" class="card-img-top" alt="..."> 
									<div class="card-body"> 
										<h5 class="card-title text-center" th:text="${produ.codigoProducto}+'- '+${produ.nombreProducto}"></h5> 
										<div class="clearfix mb-3"> 
											<span class=" badge rounded-pill bg-primary"  th:text="${produ.categoriaProducto}" ></span> 
											<span class="float-end price-hp"><del th:text="${produ.precioProducto}">12354.00&euro;</del></span> 
										</div>
										<div class="precio text-center" th:text="'$'+${produ.calcularDescuento}">
										</div>
										<div class="clearfix mb-3"> 
											<span class="float-end badge rounded-pill bg-info"  th:text="${produ.mostrarPromo}+' - '+${produ.descuentoProducto}+'% Desc. '" ></span>
										</div>
											
										<a th:href="@{/producto/modificarProducto/}+${produ.codigoProducto}" class="btn btn-primary text-right m-1">Editar</a>
			                			<a th:href="@{/producto/eliminarProducto/}+${produ.codigoProducto}" class="btn btn-danger text-right  m-1">Borrar</a>
									</div>
								</div>
							</div>
							
						</div>
					</article>
				</section>		
			</div>
			<div class="col-md-3 col-lg-4 col-sm-12 col-xs-12">
				<aside>
					<img alt="aside" th:src="@{/images/aside-AS.png}" title="aside" class="img-fluid">
				</aside>
			</div>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>		
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>	
</body>
</html>