<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/estilos.css}" />
<title>Servicios de Paseo</title>
</head>
<body>
	<div class="container">
	<header th:replace="~{/layouts/header :: header}"></header>
	<nav th:replace="~{/layouts/nav :: nav}"></nav>
	<section class="contenido">
		<table class="tablaServicioPaseos">
			<thead>
				<tr>
					<th>Día</th>
					<th>Lunes</th>
					<th>Martes</th>
					<th>Miércoles</th>
					<th>Jueves</th>
					<th>Viernes</th>
					<th>Sábado</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<th>Horario</th>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
					</tr>
					<tr>
						<th>Paseador</th>
						<td>Juan Perez</td>
						<td>Lucas Diaz</td>
						<td>Juan Perez</td>
						<td>Maria Gomez</td>
						<td>Lucas Diaz</td>
						<td>Roberto Vazquez</td>
					</tr>
				</tbody>
		</table>
		
			<div class="tablaPaseador">
				<div class="tituloperfilPaseador">
		 			<h3>PERFIL PASEADOR</h3>
			</div>	
				<table>
					<tr>
						<td>
							 <div class="paseador">
								<div class="imagenServicioPaseo">
									<img alt="paseador 3" th:src="@{/images/ServicioPaseoJuanPerez.jpg}" title="paseadorUno" >
								</div>
									<h3>JUAN PEREZ</h3>
										<p>Edad: 25</p>
										<p>Domicilio: B° Mariano Moreno.</p>
										<p>Descripcion: Experiencia con perros grandes, paseos por plazas y se realizan actividades.</p>
			
							 </div>
						</td>
				         <td>
							<div class="paseador">
				    			<div class="imagenServicioPaseo">
					                <img alt="paseador 2" th:src="@{/images/ServicioPaseoLucasDiaz.jpg}" title="paseadorDos" >
				                </div>
			                       <h3>LUCAS DIAZ</h3>
				                     <p>Edad: 28</p>
			                         <p>Domicilio: B° Huico.</p>
				                     <p>Descripcion: Adiestrador y Paseador Canino , mis paseos son por plazas y caminatas.</p>
		                    </div>
				        </td>			
			     </tr>
			     		
			     <tr>
				        <td>
				              <div class="paseador">
				                  <div class="imagenServicioPaseo">
					                <img alt="paseador 3" th:src="@{/images/ServicioPaseoMariaGomez.jpg}" title="paseadorTres" >
				                  </div>
			                        <h3>MARIA GOMEZ</h3>
				                     <p>Edad: 22</p>
				                     <p>Domicilio: B° Alto Comedero.</p>
				                     <p>Descripcion: Paseos en grupo o individual, pero prefiero el último ya que me gusta dedicarles el tiempo que merece cada uno.</p>
		                      </div>
				        </td>
				
				        <td>
				              <div class="paseador">	
				                   <div class="imagenServicioPaseo">
				                    	<img alt="paseador 4" th:src="@{/images/ServicioPaseoRobertoVazquez.jpg}" title="paseadorCuatro" >
				                   </div>
			                         <h3>ROBERTO VAZQUEZ</h3>
			                     	 <p>Edad: 26</p>
				                     <p>Domicilio: B° Chijra.</p>
				                     <p>Descripcion:Paseos individuales o manada reducida, mucha paciencia, siempre paseando dsifrutando de estar acompañados con los perritos.</p>
		                      </div>
				       </td>
			   </tr>	
		</table>
		</div>
	</section>
	<aside class=asideServicioPaseo>
		<div>
				<img alt="aside" th:src="@{/images/aside-AS.png}" title="asideSerPaseo">
			</div>
	</aside>
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
</body>
</html>