<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/estilos.css" />
<title>Servicios de Paseo</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>
				Mundo Maskota`s ToCoBi <img class="stare" alt="CAT MIRANDO"
					src="../static/images/header.jpg" title="gato stare">
			</h1>
		</header>
		<nav class="menuPrincipal">
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="consejosDeSalud.html">Consejos de salud</a></li>
				<li><a href="servicioDePaseos.html">Servicio de paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a class="active" href="contactanos.html">Contáctanos</a></li>
			</ul>
	</nav>
	
	<section class="contenido">
		<table class="tablaServicioPaseos">
			<thead>
				<tr>
					<th>Día</th>
					<th>Lunes</th>
					<th>Martes</th>
					<th>Miércoles</th>
					<th>Jueves</th>
					<th>Viernes</th>
					<th>Sábado</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<th>Horario</th>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
						<td>9 a 12 - 16 a 18</td>
					</tr>
					<tr>
						<th>Paseador</th>
						<td>Juan Perez</td>
						<td>Lucas Diaz</td>
						<td>Juan Perez</td>
						<td>Maria Gomez</td>
						<td>Lucas Diaz</td>
						<td>Roberto Vazquez</td>
					</tr>
				</tbody>
		</table>
	</section>
	<aside class="navegadorServicioPaseo">
		<div class="tituloperfilPaseador">
		 <h3>PERFIL PASEADOR</h3>
		</div>
		
		<div class="paseador">
			<h3>JUAN PEREZ</h3>
				<p>Edad: 25</p>
				<p>Domicilio: B° Mariano Moreno.</p>
				<p>Descripcion: Experiencia con perros grandes, paseos por plazas y se realizan actividades.</p>
			
		</div>
		
		<div class="paseador">
			<h3>LUCAS DIAZ</h3>
				<p>Edad: 28</p>
				<p>Domicilio: B° Huico.</p>
				<p>Descripcion: Adiestrador y Paseador Canino , mis paseos son por plazas y caminatas.</p>
		</div>
		
		<div class="paseador">
			<h3>MARIA GOMEZ</h3>
			<p>
				<p>Edad: 22</p>
				<p>Domicilio: B° Alto Comedero.</p>
				<p>Descripcion: Paseos en grupo o individual, pero prefiero el último ya que me gusta dedicarles el tiempo que merece cada uno.</p>
		</div>
		
		<div class="paseador">	
			<h3>ROBERTO VAZQUEZ</h3>
			<p>
				<p>Edad: 26</p>
				<p>Domicilio: B° Chijra.</p>
				<p>Descripcion:Paseos individuales o manada reducida, mucha paciencia, siempre paseando dsifrutando de estar acompañados con los perritos.</p>
		</div>
	
	</aside>
	<footer>
		<p style="text-align: center">Copyright 2023 - Nombre del sitio - Diseñado por Grupo 38 –
			Jujuy – República Argentina</p>
	</footer>
	</div>
</body>
</html>