<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sucursales</title>
</head>
<body>
	<header>
		<h1 style="text-align: center">
			Mundo Maskota`s ToCoBi <img alt="CAT MIRANDO" src="../static/images/header.jpg" title="gato stare" style="width: 80px; height: 80px; vertical-align: bottom">
		</h1>
	</header>
	<nav>
		<ul>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="index.html">Inicio</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="productos.html">Productos</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="consejosDeSalud.html">Consejos de salud</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="servicioDePaseos.html">Servicio de paseos</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="sucursales.html">Sucursales</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="contactanos.html">Contáctanos</a></li>
		</ul>

	</nav>
	<section></section>
	<aside></aside>
	<footer>
		<p style="text-align: center">Copyright 2023 - Nombre del sitio - Diseñado por Grupo 99 –
			Jujuy – República Argentina</p>
	</footer>
</body>
</html>