<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../static/css/estilos.css" />
<title>Sucursales</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>
				Mundo Maskota`s ToCoBi <img class="stare" alt="CAT MIRANDO"
					src="../static/images/header.jpg" title="gato stare">
			</h1>
		</header>
		<nav class="menuPrincipal">
			<ul>
				<li><a href="index.html">Inicio</a></li>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="consejosDeSalud.html">Consejos de salud</a></li>
				<li><a href="servicioDePaseos.html">Servicio de paseos</a></li>
				<li><a  class="active"href="sucursales.html">Sucursales</a></li>
				<li><a href="contactanos.html">Contáctanos</a></li>
			</ul>
		</nav>
	
		<section class="contenidoSucursal">
			<h2 class="subtituloSucursal">Encontrá la Sucursal más cercana a tu Domicilio</h2>
			<h3 class="subtituloLocalidad">JUJUY</h3>
			<fieldset class="descripcionSucursal">
				<h4>CASA CENTRAL</h4>
				<p>Av. Fuerza Aérea N° 215</p>
				<p>Tel. 3884000000</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset class="descripcionSucursal">
				<h4>SUCURSAL LAVALLE</h4>
				<p>Lavalle N° 135</p>
				<p>Tel. 3884466540</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset class="descripcionSucursal">
				<h4>SUCURSAL DORREGO</h4>
				<p>Dorrego N° 385</p>
				<p>Tel. 3884488640</p>
				<p>Lunes a Sábados de 9 a 22 Hs</p>
			</fieldset>
			<h3 class="subtituloLocalidad">SALTA</h3>
			<fieldset class="descripcionSucursal">
				<h4>SUCURSAL SAN MARTÍN</h4>
				<p>San Martín N°539</p>
				<p>Tel. 3884023500</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset class="descripcionSucursal">
				<h4>SUCURSAL BELGRANO</h4>
				<p>Belgrano N°123</p>
				<p>Tel. 3884466234</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset class="descripcionSucursal">
				<h4>SUCURSAL INDEPENDENCIA</h4>
				<p>Independencia N°105</p>
				<p>Tel. 3884528640</p>
				<p>Lunes a Sábados de 9 a 20 Hs</p>
			</fieldset>
		</section>
		<aside class="imagen">
			<div>
				<img alt="aside" src="../static/images/aside-AS.png" title="Aside">
			</div>
		</aside>
		<aside class="mensajeFinal">Envíos a domicilio a cualquier parte del país</aside>
		
		<footer>
			<p>Copyright 2023 - Nombre del sitio - Diseñado por Grupo 38 –
			Jujuy – República Argentina</p>
		</footer>
	</div>
</body>
</html>