<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Sucursales</title>
</head>
<body>
	<header>
		<h1 style="text-align: center">
			Mundo Maskota`s ToCoBi <img alt="CAT MIRANDO" src="../static/images/header.jpg" title="gato stare" style="width: 80px; height: 80px; vertical-align: bottom">
		</h1>
	</header>
	<nav>
		<ul>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="index.html">Inicio</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="productos.html">Productos</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="consejosDeSalud.html">Consejos de salud</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="servicioDePaseos.html">Servicio de paseos</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="sucursales.html">Sucursales</a></li>
			<li style="display: inline; padding-left: 3px; padding-right: 3px;"><a href="contactanos.html">Contáctanos</a></li>
		</ul>
	</nav>
		
		<section>
			<h2 style="text-align: center;">Encontrá la Sucursal más cercana a tu Domicilio</h2>
			<h3 style="text-align: center;">JUJUY</h3>
			<fieldset>
				<strong>CASA CENTRAL</strong>
				<p>Av. Fuerza Aérea N° 215</p>
				<p>Tel. 3884000000</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset>
				<strong>SUCURSAL LAVALLE</strong>
				<p>Lavalle N° 135</p>
				<p>Tel. 3884466540</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset>
				<strong>SUCURSAL DORREGO</strong>
				<p>Dorrego N° 385</p>
				<p>Tel. 3884488640</p>
				<p>Lunes a Sábados de 9 a 22 Hs</p>
			</fieldset>
			<h3 style="text-align: center;">SALTA</h3>
			<fieldset>
				<strong>SUCURSAL SAN MARTÍN</strong>
				<p>San Martín N°539</p>
				<p>Tel. 3884023500</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset>
				<strong>SUCURSAL BELGRANO</strong>
				<p>Belgrano N°123</p>
				<p>Tel. 3884466234</p>
				<p>Lunes a Sábados de 9 a 21 Hs</p>
			</fieldset>
			
			<fieldset>
				<strong>SUCURSAL INDEPENDENCIA</strong>
				<p>Independencia N°105</p>
				<p>Tel. 3884528640</p>
				<p>Lunes a Sábados de 9 a 20 Hs</p>
			</fieldset>
		</section>
		
		<h3 style="text-align: center;">Envíos a domicilio a cualquier parte del país</h3>
		
	<footer>
		<p style="text-align: center">Copyright 2023 - Nombre del sitio - Diseñado por Grupo 38 –
			Jujuy – República Argentina</p>
	</footer>
</body>
</html>