<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
	<!-- <nav class="menuPrincipal" th:fragment="nav">
		<ul>
			<li><a th:href="@{/inicio}" th:classappend="${activeInicio} ? 'active'">Inicio</a></li>
			<li><a href="productos.html">Productos</a></li>
			<li><a th:href="@{/consejo/listarConsejo}" th:classappend="${activeConsejos} ? 'active'">Consejos de salud</a></li>
			<li><a th:href="@{/servicio/listadoPaseador}" th:classappend="${activeServicio}? 'active'">Servicio de paseos</a></li>
			<li><a th:href="@{/sucursal/listado}" th:classappend="${activeSucursal}? 'active'">Sucursales</a></li>
			<li><a th:href="@{/contacto}" th:classappend="${activeContacto} ? 'active'">Contáctanos</a></li>
		</ul>
	</nav> -->
	
	<nav class="navbar navbar-expand-lg navbar bg-Secondary menuPrincipal mb-1" th:fragment="nav">
	    <div class="container">
	        <img th:src="@{/images/nav-icon.svg}" alt="TocobI" width="30" height="24" class="mx-2">
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
	            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNav">
	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/inicio}"
	                        th:classappend="${activeInicio} ? 'text-danger'">Inicio</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="productos.html">Productos</a>
	                </li>
	                <li class="nav-item" th:classappend="${activeConsejos} ? 'active'">
	                    <a class="nav-link" th:href="@{/consejo/listarConsejo}" >Consejos de salud</a>
	                </li>
	                <li class="nav-item" th:classappend="${activeServicio} ? 'active'">
	                    <a class="nav-link" th:href="@{/servicio/listadoPaseador}">Servicio de paseos</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/sucursal/listado}"
	                        th:classappend="${activeSucursal} ? 'text-danger'">Sucursales</a>
	                </li>
	                <li class="nav-item" th:classappend="${activeContacto} ? 'active'">
	                    <a class="nav-link" th:href="@{/contacto}">Contáctanos</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
	
</body>
</html>