/*********************** Estilos Generales ***********************/
*{
	margin: 0;
	padding: 0;
}


/*********************** Header ***********************/

header{
	font-family: "Copperplate", fantasy;
	text-align: center;
	background-color: #D92525;
}
/* imagen */
	
.stare{
	width: 80px; height: 80px;
	vertical-align: bottom;
}

/*********************** NavBar ***********************/


.menuPrincipal {
  overflow: hidden;
  background-color: #f1f1f1;
}

.menuPrincipal a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.menuPrincipal a:hover {
  border-bottom: 3px solid red;
}

.menuPrincipal a.active {
  border-bottom: 3px solid red;
}
.menuPrincipal ul li{
display: inline
}


/*********************** Body ***********************/


body {
	background-color: #ffffff;
}


/*********************** Aside ***********************/


/*********************** Footer ***********************/


footer {
   clear: both;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #D92525;
   color: white;
   text-align: center;
/*    padding: 10px; */
}
footer p {
	padding: 10px;
}


/*********************** Contenedor ***********************/

.container{
	width: 1200px;
	margin: 0px auto; 
}


/*********************** Pagina Inicio ***********************/
/*********************** Pagina Contactanos ***********************/

/***** Seccion *****/
.contenido h2{
	text-align: center;	
}
.contenido article{
	text-align: justify;
}
.contenido{
	float: left;
	width: 760px;
	min-height: 500px;
	padding: 20px;
}
.contenido article p{
	font-family: Arial, Helvetica, sans-serif;
}
/*****Aside ******/
.contenido2{
	float: left;
	width: 400px;
	min-height: 300px;
}


/*********************** Pagina Contactanos ***********************/

/**** Formulario ****/

.subtitulo{
	padding: 30px 0px;
	font-family: 'Brush Script MT', cursive;
	color: red;
	font-size: 24px;
}
.formulario{
	border: 1px solid; 
	width: 400px; 
 	margin: auto; 
	padding: 10px 20px ;
	background-color: #eeeeee;
}
.formulario form ul{
	list-style: none;
	
	border-radius: 5px;
  	padding: 20px;
}

.formulario p{
	font-family: Arial, Helvetica, sans-serif;
}
.formulario legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.formulario form textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
