/*********************** Estilos Generales ***********************/
*{
	margin: 0;
	padding: 0;
}

/*****Boton Agregar *****/
.buttonAdd {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
.botonRojo {
  background-color: #D92525; 
  color: white; 
  border: 2px solid #f44336;
}

.botonRojo:hover {
  background-color: white;
  color: #D92525;
}

/*boton Acciones*/
.botonAcc{
	
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
}
.botones-accion {
    text-align: right;
}
/*********************** Header ***********************/

header{
	font-family: "Copperplate", fantasy;
	text-align: center;
	background-color: #D92525;
}
/* imagen */
	
.stare{
	width: 80px; height: 80px;
	vertical-align: bottom;
}

/*********************** NavBar ***********************/


.menuPrincipal {
  overflow: hidden;
  background-color: #f1f1f1;
}

.menuPrincipal a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.menuPrincipal a:hover {
  border-bottom: 3px solid red;
}

.menuPrincipal a.active {
  border-bottom: 3px solid red;
}
.menuPrincipal ul li{
display: inline
}


/*********************** Body ***********************/


body {
	background-color: #ffffff;
}


/*********************** Aside ***********************/


/*********************** Footer ***********************/


footer {
   clear: both;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #D92525;
   color: white;
   text-align: center;
/*    padding: 10px; */
}
footer p {
	padding: 10px;
}


/*********************** Contenedor ***********************/

.container{
	width: 1200px;
	margin: 0px auto; 
}


/*********************** Pagina Inicio ***********************/
/*********************** Pagina Contactanos ***********************/

/***** Seccion *****/
.contenido h2{
	text-align: center;	
}
.contenido article{
	text-align: justify;
}
.contenido{
	float: left;
	width: 760px;
	min-height: 500px;
	padding: 20px;
}
.contenido article p{
	font-family: Arial, Helvetica, sans-serif;
}
/*****Aside ******/
.contenido2{
	float: left;
	width: 400px;
	min-height: 300px;
}


/*********************** Pagina Contactanos ***********************/

/**** Formulario ****/

.subtitulo{
	padding: 30px 0px;
	font-family: 'Brush Script MT', cursive;
	color: red;
	font-size: 24px;
}
.formulario{
	border: 1px solid; 
	width: 400px; 
 	margin: auto; 
	padding: 10px 20px ;
	background-color: #eeeeee;
}
.formulario form ul{
	list-style: none;
	
	border-radius: 5px;
  	padding: 20px;
}

.formulario p{
	font-family: Arial, Helvetica, sans-serif;
}
.formulario legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.formulario form textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}


/*********************** Pagina Servicios de Paseo ***********************/

.tablaServicioPaseos{
	width:760px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	table-layout: fixed;
	border: solid 2px #FF0000;
	box-sizing:border-box;
	
}
.tablaServicioPaseos thead{
	background: red;
	color: #fff;
}
.tablaServicioPaseos tbody th:first-child{
	background-color: red;
	
}

.tablaServicioPaseos th{
	padding: 10px 2px;
	box-sizing:border-box;
	color:#fff;
	font-weight: 1000;
	text-transform: uppercase;
}
.tablaServicioPaseos td{
	padding: 10px;
	border-bottom: solid 2px #F5F5F1;
}
.tablaServicioPaseos tbody td:hover{
	background: #FF5252;
}

.tablaPaseador{
	float: left;
	width: 760px;
	padding:10px;
	margin-top:10px;
	border: solid 2px #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	box-sizing:border-box;
}
.tablaPaseador2{
	float: left;
	width: 736px;
	padding:10px;
	margin-top:10px;
	border: solid 2px #FF0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	box-sizing:border-box;
}
.tablaPaseador2 th{
	padding: 10px 2px;
	box-sizing:border-box;
	color:#fff;
	font-weight: 1000;
	text-transform: uppercase;
}
.tablaPaseador2 td{
	padding: 10px 2px;
	box-sizing:border-box;
	text-transform: uppercase;
	text-align: center;
}

.tablaPaseador2 tr:hover{
	background: #FF5252;
}
.tablaPaseador2 th{
	background-color: red;
	
}
.tablaPaseador h3{
	text-align: center;
	font-size: 14px;
	color: white;
	background-color: red;
	padding: 5px;
}
.tablaPaseador p{
	margin: 5px 10px;
}
.tablaPaseador td{
	padding: 15px;
}
.tituloperfilPaseador{
	text-align: center;
	font-size: 50px;
	padding:5px;
	border: solid 1px red;
	margin-bottom: 5px;
}
.paseador{
	border: solid 1px red;
}
.imagenServicioPaseo{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.imagenServicioPaseo img{
	width: 310px;
    height: 210px;
}
.descripcionServicio h4{
	text-align: center;
	background-color: red;
	color: #F5F5F1;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.descripcionServicio p{
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/**** Aside - Servicios de Paseo****/
.asideServicioPaseo{
	float: left;
	width: 400px;
	min-height: 300px;
}
/*********************** Pagina Sucursal ***********************/

.contenidoSucursal{
	padding:40px;
	width: 50%;
	float:left;
}
.subtituloSucursal {
	text-align: center;
	color: #FF0000;
	font-family:cursive;
}
.subtituloLocalidad{
	text-align: center;
	color: darkred;
}
.descripcionSucursal h4{
	text-align: center;
	background-color: red;
	color: #F5F5F1;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.descripcionSucursal p{
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mensajeFinal{
	color: #FF0000;
	float:left;	
	padding: 100px;
	font-family: cursive;
	font-size: 25px;
}
.imagen img{
	float:right;
	width: 400px;
	min-height: 300px;
}

/*********************** Pagina Producto.html ***********************/

#listaProducto { padding: 20px; } /* Al listado se le dara un relleno de 20 piceles */

#listaProducto .productos { margin-bottom:5px; list-style: none;}/* A cada item del  listado se le dara un margen-inferior de 5 piceles */

.contenidoProducto .imagen{float:left;} /* A cada imagen del  listado se le ubicara a la izquierda */

.contenidoProducto .imagen .prod1 { 
	height:250px;
	width:250px;
	padding: 3px;
}/* A cada imagen del  listado se le dara una anchura y altura de 250 piceles y un relleno de 3 piceles */

.contenidoProducto .info{ 
	border:1px solid black; 
	padding:5px;
	margin-bottom: 10px;
}/* A cada info del producto del  listado se le dara un borde grueso de color negro de 1 picel , un relleno de 3 piceles y un margen inferior de 10 piceles */

#listaProducto .productos details summary{
	padding: 10px;
	background: #D92525;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 1000;
	text-transform: uppercase;
	cursor: pointer;
}/* A cada resumen del elemento de detalle se le dara un relleno de 10 piceles,un color rojizo, color de letra negra del tipo arial de tamaño de 15 piceles  y en mayuscula*/

#listaProducto .productos details summary:hover{ background: red; } /* A cada elementoto del listado cambiara de color al posarse el mouse */

.contenidoProducto .info .tituloProducto{ font-size: 26px;}/* Al titulo de cada producto dentro del  listado se le dara una letra de tamaño de 26 piceles */

#listaProducto .productos details  p {
	background-color: #eeeeee;
	padding: 4px;
	margin: 0;
	box-shadow: 1px 1px 2px #bbbbbb;
	font-family: arial, helvetica, roboto, "new times roman", lato;
	font-size:16px;
	font-style: normal;
	margin-top: 9px;
	margin-right: 6px;
}/* Al parrafo de cada producto dentro del  listado se le dara un fondo de color gris , un relleno de 4 piceles , sin margen , sombreado, tipo de letra arial del tamaño de 16 piceles del tipo normal , margen superior de 9 piceles y un margen del lado izquierdo  de 6 piceles*/

#listaProducto .productos  h6{	
	text-align:center;
	font-size: 1.957em;
}/* Al precio de cada producto dentro del  listado se le dara una ubicacion en el centro  y un tamaño de letra al rededor de los 32 piceles */
#listaProducto .productos 	div .centro{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
} /* esta clase permite centra todo  tipo de texto e items */
.button {
    background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin:10px;
} /*al boton de compra de cada producto se le dio un color verde de letras blancas de un relleno de 14 piceles por 20 piceles sin borde , una redondes de 4 piceles , sin decoracion y texto centrado cuyo tamaño de letra es de 16 piceles  y un margen de 20 piceles*/

.button:hover { background-color: #45a049; } /*al boton de compra de cada producto se le dio un color verde un poco mas oscuro como efecto cuando el cursor pase con el mouse*/

/*********************** Pagina consejoDeSalud.html ***********************/
/**************************************************************************/
.contenidoSalud{ padding-top: 1%; } /* Al contenido se le dara un relleno inferior del 1%*/
.contenidoconsejo{
	padding: 5px;
	border:5px solid burlywood;
	outline-style: double;
	display:inline-block;
	margin-top:1em;
	margin-bottom:1em;
	margin-left: 10%;
	margin-right: 10%;
	} /* Al cada consejo se le dara un relleno de 5 piceles, con un borde de 5 pixeles grueso y doble, con alineacion en bloques, y margenes   */
.contenidoconsejo .imagen{float:left;} /* la imagen de consejo de salud se ubicara a la izquierda */
.contenidoconsejo .imagen2{float:right;} /* la imagen de consejo de salud se ubicara a la derecha */
.contenidoconsejo .info h3 { 
	font-family: arial, helvetica, roboto, "new times roman", lato;
	font-size:23px;
	font-style: normal;
	margin-bottom:5px;
}/* el el titulo de consejo tendra una letra arial, del tamaño de 23 piceles del tipo normal y un margen inferion del 5 piceles  */
.fotela1consejo {
	height:250px;
	width:350px;
	padding: 3px;
}	
.contenidoconsejo .info p {font-family: arial, helvetica, roboto, "new times roman", lato;font-size:18px;font-style: normal;}
/* el parrafo del consejo tendra una letra del tipo arial , del tamaño de 18 piceles y estilo normal */

.botonIzquierdo {
	display: flex;
	text-align:right;
	align-items: center;
	float:right;
	margin-bottom: -1rem;
	margin-top: -1rem;
	justify-content: center;
}

/****************************************************************************/
	